/* product page css*/

#nav_bar{
    padding-top: 140px;
}
.headi{
    margin: 30px;
    margin-bottom: -20px;
    margin-left: 60px;
    color: black;
}
.headi ul{
    display: flex;
    font-size: 20px;
}
.headi p{
    padding-left: 10px;
    color: black;
}
.p_cont{
    display: flex;
    margin: 30px;
    margin-bottom: -100px;
    padding: 30px;
}
.p_img img{
    width: 80%;
    height: 75%;
}
.p_data_box {
    border: 1px solid black;
    width: 65%;
    height: 460px;
    margin-left: -100px;
    padding: 20px;
}
.p_data_box h6{
    border: 1px solid blue;
    width: 100%;
    margin-bottom: 10px;
}
.star{
        border: 1px solid black;
        width: 120px;
        background-color: whitesmoke;
        margin-top: 20px;
        display: flex;
        margin-bottom: 20px;
}
.price{
    margin: 10px 5px 10px -25px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
}
.price>p:nth-child(3){
    color: rgb(10, 215, 10);
    font-size: 18px;
}
.p_data p,a{
    font-size: 20px;
    margin: 10px 0px 10px;
}
#p_size{
    font-size: 20px;
    margin-bottom: 10px;
}
#p_size_div{
    display: flex;
}
#p_size_div p{
    border: 1px solid rgb(77, 73, 73);
    background-color: whitesmoke;
    display: flex;
    width: 30px;
    height: 20px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
}
.p_cart{
    display: flex;
}
.p_cart li{
    border: 1px solid rgb(77, 73, 73);
    background-color: rgb(10, 245, 222);
    display: flex;
    width: 300px;
    /* padding: 0px 0px 0px 10px; */
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    justify-content: center;
}
.p_cart li>p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /* padding: 5px; */
}
.p_cart button{
    border: 1px solid rgb(77, 73, 73);
    background-color: rgb(242, 242, 15);
    display: flex;
    width: 300px;
    padding: 12px 0px 0px;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    font-size: 20px;
    justify-content: center;
}

#e_box div{
    display: flex;
    /* width: 20%; */
}
.e_tag{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}
#mid_trd{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}
#mid_trd img{
    width: 100%;
}
#mid_trd div{
    border: 1px solid gray;
    display: grid;
    font-weight: bold;
    font-size: 15px;
}